<div class="hero">
  <h1 class="hero-text">CAMELOT CHESS</h1>
  <h4 class="hero-subtext">Online chess built with Ruby On Rails</h4>
</div>

<!-- ABOUT SECTION -->

<section class="about-container">
  <div class="about-text-container">

    <h1 class="about-header">CAMELOT CHESS</h1>
    <p class="about-text">The capstone of The Firehose Project, Camelot Chess is an open source chess application built with Ruby on Rails. Our agile team worked together to build every element of our app from the ground up while improving our development skills.</p>
  </div>
  <br>
  <div class="skills-container">
  <h1 class="skills-title">TOOLKIT</h1>
  <h1 class="skills-subtitle">Management, Communication, Integration and Control</h1>
  <br>
    <div class="skills">
      <img src="assets/ruby.png" class="skills-logos">
      <h3>RUBY</h3>
    </div>
    <div class="skills">
      <img src="assets/rails.png" class="skills-logos">
      <h3>RAILS</h3>
    </div>
    <div class="skills">
      <img src="assets/js.png" class="skills-logos">
      <h3>JS</h3>
    </div>
    <div class="skills">
      <img src="assets/html.png" class="skills-logos">
      <h3>HTML5</h3>
    </div>
    <div class="skills">
      <img src="assets/css.png" class="skills-logos">
      <h3>CSS3</h3>
    </div>
  </div>
</section>

<!-- CODE SECTION -->

<section class="code-container">
  <div class="code"><p>The secret to these triangles is creating giant borders to the two perpendicular sides of the direction you'd like the triangle to point. Make the opposite side's border the same size with the background color of whatever color you'd like the tooltip to be.  The larger the border, the larger the triangle.  You can color your triangles any color, any size, and in any direction. The best part is that there's very little code needed to achieve this effect.</p></div>
  <div class="code">
    <div class="arrow-left"></div>
  </div>
</section>

<!-- TOOLS SECTION -->

<section class="tools-container">
  <h1 class="tools-title">TOOLKIT</h1>
  <h1 class="tools-subtitle">Management, Communication, Integration and Control</h1>
  <br>
  <div class="logos-container">
    <div class="tools">
      <img src="assets/codeship.png" class="tools-logos">
      <h3>CODESHIP</h3>
    </div>
    <div class="tools">
      <img src="assets/rubocop.png" class="tools-logos">
      <h3>RUBOCOP</h3>
    </div>
    <div class="tools">
      <img src="assets/github.png" class="tools-logos">
      <h3>GITHUB</h3>
    </div>
    <div class="tools">
      <img src="assets/trello.png" class="tools-logos">
      <h3>TRELLO</h3>
    </div>
    <div class="tools">
      <img src="assets/firebase.png" class="tools-logos">
      <h3>FIREBASE</h3>
    </div>
    <div class="tools">
      <img src="assets/slack.png" class="tools-logos">
      <h3>SLACK</h3>
    </div>
  </div>
</section>

<!-- TEAM SECTION -->

<section class="team-container">
  <div class="team"></div>
</section>
<%= render 'partials/footer' %>
