<div class="hero">
  <h1 class="hero-text">CAMELOT CHESS</h1>
  <h4 class="hero-subtext">Online chess built with Ruby On Rails</h4>
</div>

<!-- ABOUT SECTION -->

<section class="about-section">
  <div class="about-container">
    <h1 class="about-header">CAMELOT CHESS...</h1>
    <h1 class="about-subheader">from THE KNIGHTS WHO SAY NIL</h1>
    <p class="about-text">The capstone of <a href="https://www.firehoseproject.com/">The Firehose Project</a>, Camelot Chess is an open source chess application built with Ruby on Rails. Our agile team, <a href="https://github.com/TheKnightsWhoSayNil">The Knights Who Say Nil</a>, worked together to build every element of our app from the ground up while improving our development skills.</p>
  </div>
</section>

<!-- SKILLS SECTION -->

<section class="skills-section">
  <div class="skills-container">
  <h1 class="skills-title">< SKILLS ></h1>
  <h1 class="skills-subtitle">Full Stack Development Skills Used To Craft Our Project</h1>
    <div class="skills">
      <img src="assets/ruby.png" class="skills-logos">
      <h3>RUBY</h3>
    </div>
    <div class="skills">
      <img src="assets/rails.png" class="skills-logos">
      <h3>RAILS</h3>
    </div>
    <div class="skills">
      <img src="assets/js.png" class="skills-logos">
      <h3>JS</h3>
    </div>
    <div class="skills">
      <img src="assets/html.png" class="skills-logos">
      <h3>HTML5</h3>
    </div>
    <div class="skills">
      <img src="assets/css.png" class="skills-logos">
      <h3>CSS3</h3>
    </div>
  </div>
</section>

<!-- CODE SECTION -->

<section class="code-section">
  <div class="code-header">
    <p class="code-title">< CODE ></p>
    <p class="code-subtitle">Coding Highlights From Our Project</p>
  </div>
  <div class="code1">
    <p>The secret to these triangles is creating giant borders to the two perpendicular sides of the direction you'd like the triangle to point. Make the opposite side's border the same size with the background color of whatever color you'd like the tooltip to be.  The larger the border, the larger the triangle.  You can color your triangles any color, any size, and in any direction. The best part is that there's very little code needed to achieve this effect.</p>
  </div>
  <div class="code1">
    <div class="arrow-left"></div>
  </div>
  <div class="code2">
    <div class="arrow-right"></div>
  </div>
  <div class="code2"> 
  </div>
</section>

<!-- TOOLS SECTION -->

<section class="tools-section">
  <div class="tools-container">
  <h1 class="tools-title">< TOOLKIT ></h1>
  <h1 class="tools-subtitle">Management, Communication, Testing, Integration and Control</h1>
    <div class="tools">
      <img src="assets/codeship.png" class="tools-logos">
      <h3>CODESHIP</h3>
    </div>
    <div class="tools">
      <img src="assets/rubocop.png" class="tools-logos">
      <h3>RUBOCOP</h3>
    </div>
    <div class="tools">
      <img src="assets/github.png" class="tools-logos">
      <h3>GITHUB</h3>
    </div>
    <div class="tools">
      <img src="assets/rspec2.png" class="tools-logos">
      <h3>RSPEC</h3>
    </div>
    <div class="tools">
      <img src="assets/trello.png" class="tools-logos">
      <h3>TRELLO</h3>
    </div>
    <div class="tools">
      <img src="assets/firebase.png" class="tools-logos">
      <h3>FIREBASE</h3>
    </div>
    <div class="tools">
      <img src="assets/slack.png" class="tools-logos">
      <h3>SLACK</h3>
    </div>
  </div>
</section>

<!-- TEAM SECTION -->

<section class="team-section">
  <div class="team-container">
  <h1 class="team-title">< OUR TEAM ></h1>
  <h1 class="team-subtitle">The Knights Who Say Nil</h1>
    <div class="team">
      <img src="assets/trello.png" class="team-logos">
      <h3>Brandon</h3>
    </div>
    <div class="team">
      <img src="assets/trello.png" class="team-logos">
      <h3>Conner</h3>
    </div>
    <div class="team">
      <img src="assets/trello.png" class="team-logos">
      <h3>Timothy</h3>
    </div>
    <div class="team">
      <img src="assets/trello.png" class="team-logos">
      <h3>Katie</h3>
    </div>
    <div class="team">
      <img src="assets/trello.png" class="team-logos">
      <h3>Ladislav</h3>
    </div>
  </div>
</section>

<section class="footer">
  <div class="footer-container">
    <div class="footer-header">
    <p>&copy; 2017 | Camelot Chess</p>
    </div>
    <div class="rules">
    <p>Chess Rules</p>
    </div>
  </div>
</section>

