<div class="hero">
  <h1 class="hero-text">CAMELOT CHESS</h1>
  <h4 class="hero-subtext">Online chess built with Ruby On Rails</h4>
</div>
<section class="about-camelot-container">
  <div class="about-camelot"></div>
</section>
<section class="code-container">
  <div class="code"><p>The secret to these triangles is creating giant borders to the two perpendicular sides of the direction you'd like the triangle to point. Make the opposite side's border the same size with the background color of whatever color you'd like the tooltip to be.  The larger the border, the larger the triangle.  You can color your triangles any color, any size, and in any direction. The best part is that there's very little code needed to achieve this effect.</p></div>
  <div class="code">
    <div class="arrow-left"></div>
  </div>
</section>
<section class="tools-container">
  <div class="tools"></div>
</section>
<section class="team-container">
  <div class="team"></div>
</section>
<%= render 'partials/footer' %>
