<div class="available-list">
  <div class="game-list">
    <%= link_to games_path do %>
    <h2>Join a Game</h2>
    <% end %>
  </div>
</div>

<div class="available-list">
  <div class="game-list">
    <%= link_to new_game_path do %>
    <h2>Create a Game</h2>
    <% end %>
  </div>
</div>
