<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Sign In</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <p class="modal-content">
      <% if current_user %>
        <li>Hello, <%= current_user.email %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
      <% else %>
        <%= render "devise/sessions/new" %>
      <% end %></p>
    </div>
  </div>
</div>
<div class="log-out">
  <% if current_user %>
    <p><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></p>
  <% end %>
</div>