<h2 class="game-title">Chess Board</h2>

<table class="game-board">
  <% 7.downto(0) do |row| %>
    <tr>
      <% 0.upto(7) do |col| %>

        <td class="piece-square" data-x="<%= col %>" data-y="<%= row %>">
        <td class="square">
          <% @pieces.each do |piece| %>
            <% if piece.x_position == col && piece.y_position == row %>
              <%= link_to image_tag(piece.image), game_piece_path(piece.game, piece) %>      
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<script>
$( document ).ready(function() {
  $( 'td.square' ).on("click", function(e) {
    e.preventDefault();
    $( this ).css('border-color', 'red');
    
  });
});
</script>
