<h2 class="game-title"> Available Games </h2>

<div class="available-list">
  <% @game.each do |game| %>
    <div class="game-list">
      <h6><%= game.white_user.nil? ? 'White is open' : 'Black is open' %></h6>
    </div>
    <div class="game-list">
      <h6>
        Game <%= game.id %>
        <br />
      </h6>
        <br />
        <%= button_to 'Join game', game_path(game.id), { action: :update, method: :patch } %>
    </div>
    <br />
  <% end %>
</div>
