<h2 class="game-title">Chess Board</h2>

<table class="game-board">
  <% 7.downto(0) do |row| %>
    <tr>
      <% 0.upto(7) do |col| %>
        <td>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>