/* Bourbon */

@import "bourbon";
@import "base/base";
@import  "neat";

/* CSS Styling */

@import "devise";
@import "gameboard";
@import "games";
@import "cards";
@import "navbar";
@import "footer";
@import "index";
@import "users";
@import "modal";

html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}