/* FOOTER SECTION */

.footer {
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: #fff;
  color: back;
  text-align: center;
}

.footer-wrapper {
  position: absolute;
  height: 50px;
  width: 100%;
}

.footer-header {
  padding-top: 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 200;
  display: inline-block;
}