/* AVAILABLE GAMES */

.available-games-section {
  margin: 60px auto 40px auto;
  width: 60%;
}

.available-list {
  $comment-gutter: 1.4em;
  $comment-image-padding: 0.7em;
  $comment-image-width: 4em;
  $comment-color: $base-font-color;
  $comment-background: lighten($action-color, 15%);
  $comment-detail-color: transparentize($comment-color, 0.5);
  $comment-image-vert-alignment: top;

  width: 60%;
  background-color: rgba(0, 0, 0, 0.35);
  margin: 0 auto;
  border-radius: 10px;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 400;
    text-align: center;
    color: #fff;
    padding: 8px;
  }
}