/* HOMEPAGE */

@keyframes fade-down {
  from { 
    opacity: 0;
    transform: translateY(-150px);
   }
  to   { 
    opacity: 1; 
    transform: translateY(0);
  }
}


body {
  margin: 0;
}

/* HERO SECTION */

.hero {
  background: linear-gradient(to bottom, rgba(13, 175, 129, 0.1) 0%, rgba(13, 175, 129, 0.1) 100%), url('chess7.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  box-shadow: 0px 3px 8px #2a2a2a;
  text-align: center;
}

h1.hero-text {
  color: #fff;
  font-size: 6.5em;
  margin: 0;
  padding-top: 1.8em;
  font-family: 'Montserrat', sans-serif;
  animation: fade-down 1.5s;
}

h4.hero-subtext {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  animation: fade-down 1.5s;
}


/* OTHER SECTIONS */

.code {
  @include span-columns(6);
  height: 600px;
  width: 50%;
  margin: 0;
  background-color: #95ABA5;
  color: #fff;
}

.code:nth-child(even) {
  background-color: black;
}

.code p {
  padding: 12px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-bottom: 50px solid transparent;  /* left arrow slant */
  border-top: 50px solid transparent; /* right arrow slant */
  border-left: 50px solid #95ABA5; /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
  margin-top: 275px;
}

/* ABOUT SECTION */

.about-container {
  height: 28em;
  width: 100%;
  margin: 0;
  text-align: center;
  color: black;
  clear: both;
}

.about-text-container {
  @include span-columns(6);
  margin: 0 auto;
  float: none;
  text-align: left;
}

.about-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding-top: 46px;
  margin: 0;
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.skills-container {
  @include span-columns(10);
  margin: 0 auto;
  float: none;
}

.skills {
  @include span-columns(2);
}

.skills h3 {
  padding-top: 6px;
  font-family: 'Montserrat', sans-serif;
}

.skills-logos {
  height: 80px;
  width: 80px;
  vertical-align: middle;
}

/* TOOLS SECTION */

.tools-container {
  height: 24em;
  width: 100%;
  margin: 0;
  text-align: center;
  color: black;
  clear: both;
}

.tools-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding-top: 36px;
  margin: 0;
}

.tools-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 0;
}

.logos-container {
  padding: 12 15 0 15;
}

.tools {
  @include span-columns(2);
}

.tools h3 {
  padding-top: 6px;
  font-family: 'Montserrat', sans-serif;
}

.tools-logos {
  height: 120px;
  width: 120px;
  vertical-align: middle;
}




.team-container {
  height: 16em;
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: grey;
  color: black;
  clear: both;
}