//-----Devise-----//

.sign-in {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  border: 1px solid #e8e8e8;
  margin: auto 0;
  padding: 30px;
}

.sign-in h2 {
  text-align: center;
}