/* USER DASHBOARD */

.dashboard-container {
  margin: 40px auto;
  width: 70%;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 10px;
}

.dashboard-user-section {
  width: 40%;
  margin: auto;
  margin-top: 60px;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.dashboard-user-title {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
}

.my-games-section {
  margin: 60px auto 40px auto;
  width: 60%;
}

.my-games-title {
  width: 60%;
  background-color: rgba(0,0,0,0.35);
  margin: 0 auto;
  border-radius: 10px;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 400;
    text-align: center;
    color: #fff;
    padding: 8px;
  }
}

.open-games-section {
  margin: 40px auto;
  width: 60%;
}
