.title-user-games {
  h1 {
    font-size: 200%;
    text-align: center;
  }
}

.title-user-dashboard {
  h1 {
    font-size: 250%;
    text-align: center;
  }
  h2 {
    font-size: 225%;
    text-align: center;
  }
}
